@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Lab Raporu</h2>
    <img src="~/images/photo3.png" width="600" height="500" alt="image" />
    
</div>


